@{
    ViewData["Title"] = "Home Page";
}

<div class="top-homepage d-flex justify-content-start">
    <div class="d-flex flex-column align-self-center">
        <p class="display-1  text-primary line-1 anim-typewriter ">Business Trips</p>
        <div class="mt-2">
@*            @if (!@Model.IsSignedIn)
            {
                <a class="btn btn-primary px-5 mx-1" asp-page="/Auth/Login">Login</a>
                <a class="btn btn-primary px-5 mx-1" asp-page="/Auth/Register">Register</a>
            }
            else
            {
                if (@Model.User.IsBTO())
                {
                    <a class="btn btn-primary px-5 mx-1" asp-page="/APP/Trips/RequestDashboard">Dashboard</a>
                }
                else if (@Model.User.IsAdmin())
                {
                    <a class="btn btn-primary px-5 mx-1" asp-page="/APP/Admin/UserManagement">User Management</a>
                }
                else
                {
                    <a class="btn btn-primary px-5 mx-1" asp-page="/APP/Trips/NewBusinessTrip">New business trip</a>
                }
            }*@
        </div>
    </div>
</div>
<div class="homepage-details d-flex justify-content-end">
    <div class="d-flex flex-column align-self-center">
        <p class="display-5  text-primary text-wrap align-self-end" style="width:30%"> We are here to provide you with an innovative way to organize your business trips.</p>
    </div>
</div>